<mat-toolbar color="primary">
    <span>My Messages</span>
    <ul fxLayout fxLayoutAlign="center flex-end" fxLayoutGap="15px" fxHide.xs>
        <li *ngIf="!is_auth">
            <a routerLink="/">{{'Login' | translate}}</a>
        </li>
        <li *ngIf="!is_auth">
            <a routerLink="/signup">Signup</a>
        </li>
        <li *ngIf="is_auth">
            <a routerLink="/posts">Posts</a>
        </li>
        <li *ngIf="is_auth" (click)="onLogout()">
            <a routerLink="/" >Logout</a>
        </li>
    </ul>
</mat-toolbar>